body {
  /* font-family: Optima, Candara, Calibri, Arial, sans-serif,Computer Modern;*/
  font-family: "Computer Modern";
}
code {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 85%;
}
